<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset_url }}" />
    <link rel="icon" type="image/x-icon" href="{{ 'favicon.ico' }}" />
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>